table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgb(219, 219, 219);
}

th {
  border: 1px solid rgb(219, 219, 219);
  background-color: rgb(219, 219, 219);
}

td {
  border: 1px dotted rgb(219, 219, 219);
  padding: 2px;
}