#projects {
  ul {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto;
    padding: 0;

    li::before {
      content: none;
    }

    li {
      margin: 5px;
    }

    li a {
      text-decoration: none;
    }
  }
}

.card {
  a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    width: 250px;
    height: 180px;
    padding: 5px;
    border-radius: 7px;

    h2 {
      font-size: 1rem;
    }

    img {
      display: inline-block;
      height: 100px;
      width: 200px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}