#projects {
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;

    li::before {
      content: none;
    }

    li {
      margin: 5px;
    }

    li a {
      text-decoration: none;
    }
  }
}

.card {
  a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    height: 180px;
    padding: 2px;
    border-radius: 7px;
    overflow: scroll;

    h2 {
      font-size: 1rem;
    }

    p {
      margin: 0;
    }

    img {
      display: inline-block;
      width: 250px;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}