body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;

  .links {
    margin: 0 15px;
    min-width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    > a {
      padding: 2px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
}

.center-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-areas: "socials content";
}

.content-container {
  grid-area: content;
  word-wrap: break-word;

  > div {
    margin-bottom: 2rem;
    padding: 0.75rem;
  }

  .about-container {
    display: flex;

    div {
      padding-left: 0.75rem;
    }
  }
}

.socials {
  position: fixed;
  grid-area: socials;
  display: flex;
  flex-direction: column;

  span {
    display: inline-block;
    margin: 10px;
    text-align: center;

    a:hover {
      background-color: transparent;

      svg {
        width: 23px;
        height: 23px;
      }
    }
    
    a svg, svg {
      width: 25px;
      height: 25px;
    }
  }
}

.image-profile {
  max-width: 350px;
}

.line-x {
  width: 100vw;
  height: 50%;
}

.line-y {
  height: 100vh;
  width: 50%;
}

.up-show-on-scroll {
  opacity: 0;
  transform: translateY(25rem);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity 1s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateY(0);
  }  
}

.right-show-on-scroll {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity 1s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateX(0);
  }  
}

.left-show-on-scroll {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity 1s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateX(0);
  }  
}
