body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}

nav {
  display: grid;
  grid-template-rows: 1fr auto 6fr;
  grid-template-areas:
    "."
    "welcome"
    "links"
    ".";
  justify-content: center;
}

nav div {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > {
    a {
      margin: 5px auto;
    }
  }
}

header {
  grid-area: welcome;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  h1 { font-size: 3rem; }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
}

.homepage {
  position: fixed;
  width: 100vw;
  transition: width 2s ease-in 0;
}

.content-container {
  margin: 2% 0;
  padding: 2% 5%;
  width: 65%;
  top: 0;
  bottom: 0;
  left: 25%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.socials {
  display: flex;
  flex-direction: row;

  span {
    display: inline-block;
    margin: 5px;

    a:hover {
      background-color: transparent;

      svg {
        width: 23px;
        height: 23px;
      }
    }
    
    a svg, svg {
      width: 25px;
      height: 25px;
    }
  }
}

.logo {
  width: 75%;
  max-width: auto;
}