@media (max-width: 800px) {
  .about-container {
    flex-wrap: wrap;
  }

  img.image-profile {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100vh;
}

nav {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  height: 50px;

  .links {
    margin: 0 15px;
    min-width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    > a {
      padding: 5px;
    }
  }

  .resume-button { border-radius: 8px; }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.75rem;
  text-align: right;
}

.center-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-areas: "socials content";
}

.content-container {
  grid-area: content;
  word-wrap: break-word;
  overflow: hidden;

  > div {
    margin-bottom: 2rem;
    padding: 0.75rem;
  }
}

.about-container {
  display: flex;

  div {
    padding: 2% 5%;
    padding-bottom: 0;
  }

  h1 {
    font-size: 3.5rem;
  }

  .about-lead-in {
    font-size: 5rem;
  }

  p {
    padding: 2% 5%;
  }

  .about-socials {
    display: flex;
    justify-content: center;

    span {
      display: inline-block;
      margin: 10px;
      height: 60px;
      width: 60px;
      text-align: center;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;

        > svg {
          width: 25px;
          height: 25px;
          margin: 5px;
        }

        > p {
          margin: 0;
          text-decoration: underline;
        }
      }
  
      a:hover {
        background-color: transparent;

        > svg {
          width: 23px;
          height: 23px;
        }

        > p {
          font-weight: 800;
        }
      }
    }
  }
}

.socials {
  position: fixed;
  left: 13px;
  top: 15%;
  grid-area: socials;
  display: flex;
  flex-direction: column;

  span {
    display: inline-block;
    margin: 10px;
    text-align: center;

    a:hover {
      background-color: transparent;

      svg {
        width: 23px;
        height: 23px;
      }
    }
    
    a svg, svg {
      width: 25px;
      height: 25px;
    }
  }
}

.image-profile {
  max-width: 350px;
  max-height: 466px;
  height: auto;
  width: auto;
  margin: auto;
}

.line-x {
  width: 100vw;
  height: 50%;
}

.line-y {
  height: 100vh;
  width: 50%;
}

.socials.up-show-on-scroll {
  opacity: 0;
  transform: translateY(25rem);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity 1s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateY(0);
  }  
}

nav.right-show-on-scroll {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity 1s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateX(0);
  }  
}

.left-show-on-scroll {
  opacity: 0;
  transform: translateX(75%);
  transition: transform 0.75s cubic-bezier(0,1,.3,1),
              opacity 0.5s .25s ease-in;
  will-change: transform, opacity;

  &.is-visible { 
    opacity: 1;
    transform: translateX(0%);
  }  
}

#email-modal {
  position: fixed;
  top: 32vh;
  width: 200px;
  height: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.75s cubic-bezier(0,1,.3,1),
              opacity 0.5s .25s ease-in;
  will-change: transform, opacity;
  border-top-right-radius: 75px;
  border-bottom-right-radius: 75px;

  &.is-visible { 
    opacity: 1;
    transform: translateX(0%);
  }

  button {
    background-color: transparent;
    border: none;
    padding: 0;
    text-decoration: underline;

    &:hover {
      font-weight: 800;
    }
  }
}
