---
---
@import "markdown";
@import "dracula";
@import "static";
@import "projects";

body, footer {
  background-color: {{ site.colors.black }};
  color: {{ site.colors.white }};
}

nav {
  background-color: {{ site.colors.black-transparent }};
}

.content-container {
    
  div { background-color: transparent; }

  h1 { text-decoration-color: {{ site.colors.red }}; }

  ol li::before { color: {{ site.colors.purple }}; }

  ul {
    li::before { color: {{ site.colors.yellow }}; }
    li a { color: {{ site.colors.white }}; }
  }

  a { color: {{ site.colors.light-grey }}; }

  blockquote p {
    border-left: 2px solid {{ site.colors.purple }};
  }

  hr { border-bottom: 2px solid {{ site.colors.purple }}; }

  table { border: 1px solid {{ site.colors.purple }}; }

  th {
    border: 1px solid {{ site.colors.purple }};
    background-color: {{ site.colors.purple }};
    color: {{ site.colors.dark-grey }};
  }

  td { border: 1px dotted {{ site.colors.purple }}; }
}

a {
  color: {{ site.colors.white }};

  &:hover {
    background-color: {{ site.colors.light-grey }};
  }
}

.linkedin {
  fill: {{ site.colors.red }};
}

.github {
  fill: {{ site.colors.purple }};
}

.email {
  fill: {{ site.colors.yellow }};
}

.line-x {
  border-bottom: solid 1px {{ site.colors.red }};
}

.line-y {
  border-right: solid 1px {{ site.colors.red }};
}

#projects li {
  transition: outline 1s ease-in;
  outline: solid 1px {{ site.colors.black }};
  box-shadow: 1px 2px 5px 1px {{ site.colors.black }};

  &:hover {
    outline: solid 1px {{ site.colors.purple }};
    box-shadow: 1px 2px 5px 1px {{ site.colors.dark-grey }};
    transition: outline 0.7s ease-in;
  }
}
