---
---
@import "markdown";
@import "dracula";
@import "static";
@import "projects";
@import "timeline";

$dark-black: {{ site.colors.off-black }};
$dark-white: {{ site.colors.off-white }};
$dark-red: {{ site.colors.red }};
$dark-purple: {{ site.colors.purple }};
$dark-yellow: {{ site.colors.yellow }};
$dark-light-grey: {{ site.colors.light-grey }};
$dark-dark-grey: {{ site.colors.dark-grey }};
$dark-black-t: {{ site.colors.black-transparent }};
$box-shadow-color: {{ site.colors.box-shadow }};
$dark-dark-grey-t : {{ site.colors.dark-grey-transparent }};
$dark-purple-t : {{ site.colors.purple-transparent }};

body, footer {
  background-color: $dark-black;
  color: $dark-white;
}

nav {
  background-color: $dark-black-t;
}

.content-container {
    
  div { background-color: transparent; }

  h1 { text-decoration-color: $dark-red; }

  ol li::before { color: $dark-purple; }

  ul {
    li::before { color: $dark-yellow; }
    li a { color: $dark-white; }
  }

  a { color: $dark-light-grey; }

  blockquote p {
    border-left: 2px solid $dark-purple;
  }

  hr { border-bottom: 2px solid $dark-purple; }

  table { border: 1px solid $dark-purple; }

  th {
    border: 1px solid $dark-purple;
    background-color: $dark-purple;
    color: $dark-dark-grey;
  }

  td { border: 1px dotted $dark-purple; }
}

a {
  color: $dark-white;

  &:hover {
    background-color: $dark-light-grey;
  }
}

.resume-button {
  border: solid 1px $dark-red;
  color: $dark-white;

  &:hover {
    font-weight: 800;
    border: none;
    background-color: $dark-purple-t;
  }
}

.linkedin {
  fill: $dark-red;
}

.github {
  fill: $dark-purple;
}

.email {
  fill: $dark-yellow;
}

.line-x {
  border-bottom: solid 1px $dark-red;
}

.line-y {
  border-right: solid 1px $dark-red;
}

img.image-profile {
  border: solid 1px $dark-yellow;
  box-shadow: 5px 5px 15px 3px $box-shadow-color;
}

#projects li {
  transition: outline 1s ease-in;
  outline: solid 1px $dark-black;
  box-shadow: 1px 2px 5px 1px $dark-black;

  &:hover {
    outline: solid 1px $dark-purple;
    box-shadow: 1px 2px 5px 1px $dark-dark-grey;
    transition: outline 0.7s ease-in;
  }
}

.about-socials {
  border-bottom: solid 1px $dark-yellow;
}

#email-modal {
  background-color: $dark-dark-grey-t;

  button {
    color: $dark-white;
  }

  span {
    color: $dark-red;
  }
}

#timeline {

  .timeline-container { border-right: dashed 2px $dark-yellow; }

  .timeline-card { background-color: $dark-purple-t; }
}